doctype html5
html(lang='es-MX' dir="ltr")
  head
    meta(charset="utf-8")
    title ws-revista | SEMOVI

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet" href="assets/styles.css")
    link(rel="icon", type="image/x-icon", href="assets/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="manifest", href="/assets/manifest.json")
    meta(name="theme-color" content="#1976d2")
  body
    header
      nav(class="z-depth-2")
        div(class="nav-wrapper white")
          a
            img(class="logo-semovi", src="assets/images/banner.png")
          ul#nav-mobile(class="right")
            li
              a(class="pink-text hide-on-small-only") Unidad de informática
    section(class="")
      div(class="row")
        div(class="col s12 m10 l8 offset-m1 offset-l2 z-depth-2 white")
          div(class="row")
            div(class="col s12 center-align banner-header")
              img(class="banner", src="assets/images/banner.png")
          div(class="row")
            div(class="col s12 center-align")
              h5 #{project}
                span(class="version") #{version}
              p #{description}
          div(class="row options")
            div(class="col s6 left")
              a(href="/assets/files/api-schema.gql") Descargar API-schema
            div(class="col s6")
              a(href="/api", class="right") Playground API

    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
