/* FONTS */
@font-face {
  font-family: "UniviaPro-Light";
  src: url(./fonts/UniviaPro-Light.ttf);
  color: black;
}

@font-face{
  font-family: "UniviaPro-Bold";
  src: url(./fonts/UniviaPro-Bold.ttf);
}

@font-face {
  font-family: "UniviaPro-Black";
  src: url(./fonts/UniviaPro-Black.ttf);
}

@font-face {
  font-family: "UniviaPro-Ultra";
  src: url(./fonts/UniviaPro-Ultra.ttf);
}

body {
  font-family: "UniviaPro-Light";
  background-image: url("http://resource.semovioaxaca.gob.mx/assets/images/background-80.png");
  background-color: #B1AFAF;
}

section {
  margin-top: 4em;
}

.logo-semovi{
  max-width: 200px;
  padding-top: 10px;
  padding-left: 10px;
}

section .banner-header {
  background-color: #c3c3c3;
}

section .banner {
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

div .options {
  margin-top: 4em;
}

.version {
  font-size: 10px;
  margin-left: 1em;
  letter-spacing: 1px;
}
